
/* Estilo para el efecto de sombra al pasar el cursor */
.social-icon {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease; /* Transición suave */
  }

  /* Estilo para quitar la sombra cuando no se pasa el cursor */
  .social-icon:hover {
    box-shadow: none;
  }